.containerMalasSalvas {
  width: 65%;
  height: 50%;
  background-color: #f9f9f9;
  border-radius: 50px;
  padding: 1.8rem;
  position: relative;
}

.containerCardsMalaSalva {
  min-width: 100%;
  max-height: 88%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: scroll;
}

.containerCardsMalaSalva::-webkit-scrollbar {
  width: 0;
}

.cardMalaSalva {
  background-color: #b7d5e5;
  width: 47%;
  height: 30%;
  border-radius: 25px;
  display: flex;

  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.cardMalaSalva h4 {
  margin-bottom: 0.8rem;
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
  text-align: center;
}

.cardMalaSalva h5,
h4 {
  color: black;
  font-weight: bold;
}

.cardMalaSalva h5 {
  margin-right: 0.3rem;
  font-size: clamp(0.68rem, 0.5vw, 1.5rem);
}

.infoMalasSalvas {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.infoMalasSalvas span {
  font-size: clamp(0.6rem, 0.2em + 0.5vw, 2rem);
}

.ImgMalasSalvas {
  margin-right: 1rem;
  width: 30%;
}

.btnMalasSalvas {
  position: absolute;
  bottom: 1rem;
  left: 34%;
}

.pressedCardMala {
  width: 46.9%;
  height: 27%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
