.navbarBagagem {
  height: 10vh;

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
}

.navMala {
  border-right: 4px solid #fff;
  width: 36.9%;
  height: 100%;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63.91%;
  padding: 0 1.25rem;
  height: 10vh;
}

.navMenu img {
  max-width: 40px;
  cursor: pointer;
}

.navMenu div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
}

.hideLupa {
  display: none;
}

.navMenu div img {
  width: 9%;
}

.navMenu input {
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: none;
}

.navMenu input:focus {
  outline: none;
}

