.bagagem {
  border-right: 4px solid #fff;
  height: 90vh;
  width: 36.9%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.bagagem img {
  width: 70%;
  cursor: pointer;
}

.ContainerConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 4rem 0;
  font-weight: bold;
}

.pesoItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.btnSalvar {
  font-size: 16px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: #7d9ff6;
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.4em;
  width: 30%;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btnSalvar:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.btnSalvar:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.ContainerConteudo p {
  color: #000;
}

.peso {
  color: #3b7600;
}
