.menuContainer {
  width: 63.91%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBagagem {
  margin-top: 5rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 3rem;
}

.card {
  width: 8vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f9f9;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card img {
  width: 45%;
}

.card span {
  font-size: clamp(11.5px, 4vw, 14px);
}

.infoProduto {
  position: relative;
  width: 60%;
  height: 25vh;
  border-radius: 12px;
  background-color: #b7d5e5;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;

  box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.4);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  width: 140px;
  height: 140px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.inputContainer {
  width: 150px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputContainer input {
  width: 143px;
  margin-bottom: 0.6rem;
  padding: 4px;
}

.btnAdicionar{
  padding: 8px;

  background-color: #7d9ff6;
  border: none;
  border-radius: 10px;
}

.SubInputContainer {
}

.typeContainer{
  display: flex;
}

.typeContainer button{
  padding: 0.5rem;
}

.types {
  width: 143px;
  padding: 4px;
 
  border: 1px solid black;
  background-color: white;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.infoProduto span {
  position: absolute;
  right: 1.4rem;
  bottom: 2.8rem;
  font-weight: bold;
}
