.menuContainer {
  width: 63.91%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBagagem {
  margin-top: 5rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 3rem;
}

.card {
  width: 8vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f9f9;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-align: center;

  animation: slide 800ms ease-in-out;
}

.card img {
  width: 45%;
}

.card span {
  font-size: clamp(11.5px, 4vw, 14px);
}

.card:hover {
  transform: translate(4px, -4px);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.infoProduto {
  position: relative;
  width: 60%;
  height: 25vh;
  border-radius: 12px;
  background-color: #b7d5e5;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.4);
}

.showInfoProduto {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 0.5s;
}

.showInfoProduto .imageContainer {
  height: 9vw;
  transition: all 0.5s;
}

.hiddenInfoProduto {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(-20%);
  height: 0;
  transition: all 0.5s;
}

.hiddenInfoProduto .imageContainer {
  height: 0;
  transition: all 0.5s;
}

.hiddenInfoProduto .inputContainer {
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.hiddenInfoProduto .btnAdicionar {
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  width: 9vw;
  height: 9vw;

  min-width: 70px;
  min-height: 70px;

  padding: 10px;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.imageContainer img {
  width: 50%;
}

.inputContainer {
  width: 35%;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputContainer input {
  width: 100%;
  margin-bottom: 0.6rem;
  padding: 4px;
}

.inputContainer h2 {
  font-size: clamp(0.6rem, 0.5rem + 1vw, 1.1rem);
  justify-content: space-around;
}

.subInputContainer {
  padding: 0 19px;
  width: 80%;
}

.btnAdicionar {
  padding: 5px 0px;
  margin-top: 10px;
  width: 65%;
  background-color: #7d9ff6;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: clamp(0.6rem, 0.5rem + 1vw, 1.1rem);
}

.btnAdicionar:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.8);
}

.btnAdicionar:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
}

.typeContainer {
  display: flex;
  width: 100%;
  margin: 0 3px;
}

.tipo {
  display: flex;
  width: 80%;
}
.arrow {
  background-color: transparent;
  border: none;
}

.arrow img {
  width: 15px;
  cursor: pointer;
}

.typeContainer button {
  background-color: transparent;
  border: none;
}

.typeContainer button img {
  width: 15px;
}

.types {
  width: 100%;
  padding: 4px;

  border: 1px solid black;
  background-color: white;
  font-size: clamp(0.3rem, 2.5vw, 0.74rem);
  font-weight: bold;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.pesoInfo {
  position: absolute;
  color: black;
  right: 3%;
  bottom: 5%;
  font-weight: bold;
  font-size: clamp(0.8rem, 1.3vw, 1rem);
}


@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
