.inventario {
  position: absolute;
  width: 55vw;
  height: 35vw;
  background-color: #b7d5e5;
  border: 1px solid black;
  border-radius: 12px;
  z-index: 100;

  top: 10%;
  right: -110%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 1rem 5rem;
  overflow: auto;
}

.inventario::-webkit-scrollbar{
  width: 0;
}

.showInventory{
  opacity: 1;
  filter: blur(0);
  transition: all 0.5s;
}

.hiddenInventory{
  opacity: 0;
  filter: blur(10px);
  visibility: hidden;
  width: 0;
  height: 0;
  top: 50%;
  right: 50%;
  transition: all 0.5s;
}

.inventioCards {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  
}

.closeInventory {
  position: absolute;
  top: -5px;
  right: 0;

  z-index: 200;

  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

