.inventario {
  position: absolute;
  width: 55vw;
  height: 35vw;
  background-color: #b7d5e5;
  border: 1px solid black;
  border-radius: 12px;
  z-index: 100;

  top: 15%;
  right: 20%;

  display: flex;

  justify-content: center;

  flex-wrap: wrap;

  padding: 20px;
  overflow: auto;
}

.inventioCards {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  
}

.closeInventory {
  position: absolute;
  top: -5px;
  right: 0;

  z-index: 200;

  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

